## Junto com esta lista do Jupyter, a base de dados "data_pandas.csv" vai ser fundamental para realizar os exercícios a seguir.

### 1) O arquivo "data_pandas.csv" é uma base de dados com preços históricos das vendas da empresa de supermercado que registrou dados em 3 filiais diferentes por 3 meses.

![Descri%C3%A7%C3%A3o.jpeg](attachment:Descri%C3%A7%C3%A3o.jpeg)

#### a) Inicialmente, precisamos importar o Pandas para nosso código e armazenar os dados contidos no arquivo "data_pandas.csv" dentro de uma variável

In [ ]:
import pandas as pd
df = pd.read_csv("data_pandas.csv")

In [ ]:
df.head()

,ID,Filial,Cidade,Tipo cliente,Genero,Linha produto,Preco unitario,Quantidade,Taxa 5%,Total,Data,Hora,Forma pagamento,Custo produto vendido,Margem bruta,Receita bruta,Rating
0,319-50-3348,B,Mandalay,Normal,Female,Home and lifestyle,40.30,2,4.0300,84.6300,3/11/2019,15:30,Ewallet,80.60,4.761905,4.0300,4.4
1,390-80-5128,B,Mandalay,Member,Female,Health and beauty,19.15,1,0.9575,20.1075,1/28/2019,17:58,Credit card,19.15,4.761905,0.9575,9.5
2,523-38-0215,C,Naypyitaw,Normal,Male,Home and lifestyle,37.00,1,1.8500,38.8500,3/6/2019,13:29,Credit card,37.00,4.761905,1.8500,7.9
3,565-91-4567,B,Mandalay,Normal,Male,Health and beauty,10.75,8,4.3000,90.3000,3/15/2019,14:38,Ewallet,86.00,4.761905,4.3000,6.2
4,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7

#### b) Nessa etapa, busque gerar visualizações básicas do dataframe:
           1) As cinco primeiras linhas; 
           2) As cinco últimas linhas;
           3) Quantas linhas e colunas possuem no dataframe
           4) Quais colunas existem no DataFrame qual o tipo de dados que cada coluna possui
           5) Alguns dados estatísticos das variáveis quantitativas
               - Média do valor total de cada compra
               - Qual quantidade vendida mais é recorrente
               - Receita total das vendas
               - Menor e maior valor total de todas as vendas

In [ ]:
# 1) As cinco primeiras linhas

# Código
df.head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,319-50-3348,B,Mandalay,Normal,Female,Home and lifestyle,40.30,2,4.0300,84.6300,3/11/2019,15:30,Ewallet,80.60,4.761905,4.0300,4.4
1,390-80-5128,B,Mandalay,Member,Female,Health and beauty,19.15,1,0.9575,20.1075,1/28/2019,17:58,Credit card,19.15,4.761905,0.9575,9.5
2,523-38-0215,C,Naypyitaw,Normal,Male,Home and lifestyle,37.00,1,1.8500,38.8500,3/6/2019,13:29,Credit card,37.00,4.761905,1.8500,7.9
3,565-91-4567,B,Mandalay,Normal,Male,Health and beauty,10.75,8,4.3000,90.3000,3/15/2019,14:38,Ewallet,86.00,4.761905,4.3000,6.2
4,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7

In [ ]:
# 2) As cinco últimas linhas
# Código
df.tail(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
1095,122-61-9553,C,Naypyitaw,Normal,Female,Electronic accessories,51.32,9,23.094,484.974,3/14/2019,19:33,Cash,461.88,4.761905,23.094,5.6
1096,789-23-8625,B,Mandalay,Member,Male,Fashion accessories,93.22,3,NaN,293.643,1/24/2019,11:45,Cash,279.66,4.761905,13.983,7.2
1097,600-38-9738,C,Naypyitaw,Member,Male,Sports and travel,71.92,5,17.980,377.580,1/17/2019,15:05,Credit card,359.60,4.761905,17.980,4.3
1098,355-34-6244,B,Mandalay,Normal,Male,Food and beverages,72.39,2,7.239,152.019,1/13/2019,19:55,Credit card,144.78,4.761905,7.239,8.1
1099,595-27-4851,A,Yangon,Normal,Female,Fashion accessories,54.28,7,18.998,398.958,1/27/2019,18:05,Ewallet,379.96,4.761905,18.998,9.3

In [ ]:
# 3) Quantas linhas e colunas possuem no dataframe

# Código
print("Linhas: ", df.shape[0])
print("Colunas: ", df.shape[1])

Linhas:  1100
Colunas:  17

In [ ]:
# 4) Quais colunas existem no DataFrame qual o tipo de dados que cada coluna possui

# Código
print("Colunas: \n\n",df.columns,"\n\n\n")
print("Tipo de dados: \n\n",df.dtypes)

NameError: ignored

In [ ]:
# 5) Alguns dados estatísticos das variáveis quantitativas
        # - Média do valor total de cada compra
        # - Qual quantidade vendida mais é recorrente
        # - Receita total das vendas
        # - Menor e maior valor total de todas as vendas

# Código
print("Média do valor total de cada compra: R$", round(df["Total"].mean(),2))
print("Quantidade vendida mais recorrente: ", df["Quantity"].mode()[0]," unidades")
print("Receita total das vendas: R$", round(df["Total"].sum(),2))
print("Venda com menor valor: R$", df["Total"].min())
print("Venda com maior valor: R$", df["Total"].max())

Média do valor total de cada compra: R$ 326.9
Quantidade vendida mais recorrente:  10  unidades
Receita total das vendas: R$ 359594.08
Venda com menor valor: R$ 10.6785
Venda com maior valor: R$ 1042.65

#### c) Apague do DataFrame algumas colunas que não serão úteis para nossos exercícios e exibia o DataFrame para confirmar que elas foram excluídas
         - "Invoice ID"
         - "City"
         - "Time"

In [ ]:
df.drop(["Invoice ID", "City","Time"], axis=1, inplace=True)
df.head(5)

,Branch,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Payment,cogs,gross margin percentage,gross income,Rating
0,B,Normal,Female,Home and lifestyle,40.30,2,4.0300,84.6300,3/11/2019,Ewallet,80.60,4.761905,4.0300,4.4
1,B,Member,Female,Health and beauty,19.15,1,0.9575,20.1075,1/28/2019,Credit card,19.15,4.761905,0.9575,9.5
2,C,Normal,Male,Home and lifestyle,37.00,1,1.8500,38.8500,3/6/2019,Credit card,37.00,4.761905,1.8500,7.9
3,B,Normal,Male,Health and beauty,10.75,8,4.3000,90.3000,3/15/2019,Ewallet,86.00,4.761905,4.3000,6.2
4,A,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,Cash,713.80,4.761905,35.6900,5.7

#

### 2) Após entender do que o seu Data Set se trata, chegou a hora de realizar a limpeza de dados. Dessa forma, existem dois casos de "sujeira" dentro de um conjunto de dados:
            1) NaN 
            2) Casos duplicados

#### a) Identifique quantos casos de NaN encontramos em cada uma das colunas e encontre um jeito de substituir esses valores. (Dica: Imposto = Preço total * 0.05)

In [ ]:
print(df.isna().sum())
df["Taxa 5%"].fillna(df["Preco unitario"]*df["Quantidade"]*0.05,inplace=True)
df.isna().sum()

#### b) Identifique quantas linhas duplicadas existem na base de dados, exiba elas e, por fim, exclua-as do DataFrame

In [ ]:
print("Linhas duplicadas: ",df.duplicated().sum())
display(df[df.duplicated()])
df.drop_duplicates(inplace=True)
print("Linhas duplicadas depois de apagar: ",df.duplicated().sum())

Linhas duplicadas:  100

,Branch,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Payment,cogs,gross margin percentage,gross income,Rating
138,B,Member,Male,Electronic accessories,18.93,6,5.6790,119.2590,2/10/2019,Credit card,113.58,4.761905,5.6790,8.1
171,C,Member,Male,Health and beauty,15.37,2,1.5370,32.2770,3/16/2019,Cash,30.74,4.761905,1.5370,7.2
193,B,Member,Female,Food and beverages,20.01,9,9.0045,189.0945,2/6/2019,Ewallet,180.09,4.761905,9.0045,4.1
217,B,Normal,Male,Health and beauty,87.87,10,43.9350,922.6350,3/29/2019,Ewallet,878.70,4.761905,43.9350,5.1
243,C,Normal,Female,Electronic accessories,41.65,10,20.8250,437.3250,1/13/2019,Credit card,416.50,4.761905,20.8250,5.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1060,A,Member,Female,Food and beverages,44.59,5,11.1475,234.0975,2/10/2019,Cash,222.95,4.761905,11.1475,8.5
1062,B,Member,Female,Fashion accessories,17.87,4,3.5740,75.0540,3/22/2019,Ewallet,71.48,4.761905,3.5740,6.5
1063,C,Normal,Female,Health and beauty,99.19,6,29.7570,624.8970,1/21/2019,Credit card,595.14,4.761905,29.7570,5.5
1067,B,Member,Male,Sports and travel,78.07,9,35.1315,737.7615,1/28/2019,Cash,702.63,4.761905,35.1315,4.5
1094,B,Member,Male,Health and beauty,56.69,9,25.5105,535.7205,2/27/2019,Credit card,510.21,4.761905,25.5105,8.4

Linhas duplicadas depois de apagar:  0